<div ng-include="'views/partials/nav.html'"></div>

<!-- Page Content -->
<div class="container">
  <h5>CREATE PROFILE</h5>
  <hr>

  <!-- Profile Section -->
  <div class="row">
    <div class="col-lg-12">
      <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">NAME</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nickname" ng-model="cc.firstName">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">DATE OF BIRTH</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="MM/DD/YYYY" ng-model="cc.dob">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">PHONE NUMBER</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="(XXX) XXX-XXXX" ng-model="cc.phone">
        </div>
      </form>
    </div>
  </div>
  <!-- /.row -->

  <!-- Call to Action Section -->
  <div class="row mb-4">
    <div class="col-md-8">
    </div>
    <div class="col-md-4">
      <button class="btn btn-lg btn-primary btn-block" ng-click="cc.addPilltaker(firstName, lastName, dob, phone, notes, caretakerID)">SAVE</button>
    </div>
  </div>
</div>
<!-- /.container -->
