<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <!-- Page Content -->
  <div class="container">
    <div class="d-flex justify-content-between">
      <h3>PROFILE INFO</h3>
      <!--<a href="#"><p>edit</p></a>-->
    </div>
    <hr>
    <p><strong>NAME:</strong><span ng-model="cc.pilltakerData[0].firstName">{{cc.pilltakerData[0].firstName}}</span> <br />
      <strong>D.O.B:</strong><span ng-model="cc.pilltakerData[0].dob">{{cc.pilltakerData[0].dob}} </span><br />
      <strong>PHONE:</strong> <span ng-model="cc.pilltakerData[0].phone">{{cc.pilltakerData[0].phone}} </span></p>
      <h5 class="pt-2">MEDICATION INFO</h5>
      <hr>
      <!-- Profile Section -->
      <div ng-repeat="med in cc.pilltakerData">
        <div class="row">
          <div class="col-lg-12 mb-2">
            <div class="card h-100">
              <div class="card-body bg-info d-flex justify-content-between">
                <div class="card-text"><span ng-model="med.medName">{{med.medName}}</span></div>
                <div class="card-text"><span ng-model="med.dosage">{{med.dosage}}</span> <i class="fa fa-caret-right" aria-hidden="true"></i></div>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>

      <hr>
      <!-- /.row -->
      <!--
      <div class="row">
        <div class="col-lg-12 mb-2">
          <div class="card h-100">
            <div class="card-body bg-dblue text-white d-flex justify-content-between">
              <div class="card-text">VITAMIN D</div>
              <div class="card-text">3 DOSES <i class="fa fa-caret-right" aria-hidden="true"></i></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 mb-2">
          <div class="card h-100">
            <div class="card-body bg-red text-white d-flex justify-content-between">
              <div class="card-text">ADVIL</div>
              <div class="card-text">1 DOSE <i class="fa fa-caret-right" aria-hidden="true"></i></div>
            </div>
          </div>
        </div>
      </div>
      -->

      <!-- Call to Action Section -->
      <div class="row mb-2">
        <div class="col-md-8">
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>-->
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg bg-green text-white btn-block" id="addMedBtn" href="#/medication">ADD MEDICATION</a>
        </div>
      </div>

  <hr>
  <!-- Send Twilio Msg -->
  <button class="btn btn-lg btn-alert btn-block" ng-click="cc.userService.sendMessage()">SEND REMINDER</button>


    </div>
    <!-- /.container -->

  </div>
