<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <!-- Page Content -->
  <div class="container">
    <div class="d-flex justify-content-between">
      <h5>PROFILE INFO</h5>
      <a href="#"><p>edit</p></a>
    </div>
    <hr>
    <p><strong>NAME:</strong><span ng-model="cc.pilltaker.firstName">{{firstName}} </span> <br />
      <strong>D.O.B:</strong><span ng-model="cc.pilltaker.dob"> </span><br />
      <strong>PHONE:</strong> <span ng-model="cc.pilltaker.phone"> </span></p>
      <h5 class="pt-2">MEDICATION INFO</h5>
      <hr>
      <!-- Profile Section -->
      <div class="row">
        <div class="col-lg-12 mb-2">
          <div class="card h-100">
            <div class="card-body bg-green text-white d-flex justify-content-between">
              <div class="card-text"><span ng-model="cc.pilltaker.medName"></span></div>
              <div class="card-text"><span ng-model="cc.pilltaker.doseage"></span> <i class="fa fa-caret-right" aria-hidden="true"></i></div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-lg-12 mb-2">
          <div class="card h-100">
            <div class="card-body bg-dblue text-white d-flex justify-content-between">
              <div class="card-text">VITAMIN D</div>
              <div class="card-text">3 DOSES <i class="fa fa-caret-right" aria-hidden="true"></i></div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-lg-12 mb-2">
          <div class="card h-100">
            <div class="card-body bg-red text-white d-flex justify-content-between">
              <div class="card-text">ADVIL</div>
              <div class="card-text">1 DOSE <i class="fa fa-caret-right" aria-hidden="true"></i></div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

      <!-- Call to Action Section -->
      <div class="row mb-2">
        <div class="col-md-8">
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>-->
        </div>
        <div class="col-md-4">
          <button class="btn btn-lg btn-primary btn-block" ng-click="cc.saveSomething()">ADD MEDICATION</button>
        </div>
      </div>

    </div>
    <!-- /.container -->

  </div>
